/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/images
/public/mix-manifest.json
/public/*.js
/public/*.js.map
/.idea
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

*.exe
*.pyc
geckodriver.log
debug.log

.nyc_output
.eslintcache
.php_cs.cache
eslint.out
stats.html