.sector-category {
    position: relative;
    display: block;
    margin-top: 5px;
    width: max-content;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.sector-bottom {
    position: relative;
    cursor: pointer;
    transition: all 0.4s linear;
    border-bottom: 2px solid black;
}

.sector-bottom:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 1s linear;
}

.sector-bottom:hover:before {
    visibility: visible;
    width: 100%;
}

.sector-icon {
    cursor: pointer;
    margin-left: 10px;
    transition: opacity 0.2s linear;
}
